{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the North Carolina Tax Estimation Service!</h1>

    {% if result %}
        <h2>Your Tax Results</h2>
        <p>State Tax: ${{ result.0 }}</p>
        <p>Federal Tax: ${{ result.1 }}</p>
        <p>Total Tax: ${{ result.2 }}</p>
    {% endif %}

    <form method="post" action="{% url 'dashboard' %}">
        {% csrf_token %}

        <label for="income">Income:</label>
        <input type="text" id="income" name="income" placeholder="50000" required pattern="\d+(\.\d{1,2})?">
        <br>

        <label for="filing_status">Filing Status:</label>
        <select id="filing_status" name="filing_status" required>
            <option value="1">Single</option>
            <option value="2">Married filing joint</option>
            <option value="3">Married filing separately</option>
            <option value="4">Head of household</option>
            <option value="5">Qualified widower</option>
        </select>

        <input type="submit" value="Calculate My Tax Liability">

    </form>

</body>
</html>