{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainStyle.css' %}">
    <title>Tax Estimation Service for North Carolina</title>
</head>
<body>
    <header>
        <h1>Tax Estimation Service for North Carolina</h1>
        <div id="bannerButtons">
            <a href="{% url 'login' %}"><button id="login">Login</button></a>
            <a href="{% url 'signup' %}"><button id="signup">Sign-up</button></a>
        </div>
    </header>
    <div id="summary">
        <p>Welcome to our tax calculation program. Please log in or sign-up above to calculate your taxes.</p>
        <p>Once logged in please enter your annual income, filing status, and submit.</p>
        <p>Our site will then calculate your state tax, federal tax, and total tax that you owe.</p>
    </div>
</body>
</html>